@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Quicksand', sans-serif;
}

.active:after {
    content: "";
    position: absolute;
    right: 95%;
    border-color: #F9A109;
    border-radius: 3px 5px 5px;
    border-width: 20px;
}

.hidden-link-item {
    visibility: hidden;
}

.hidden-link:hover + .hidden-link-item {
    display: block;
    visibility: visible;
}

.thought-box{
    background-color: #454545;
    border-radius: 5px;
    padding: 2px 14px;
    font-size: 14px;
    color: #fff;
}

.thought-box:after {
    transform :rotate(-45deg);
    content: "";
    position: absolute;
    top: 30%;
    right: 88%;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: #454545 transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-bar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
